<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingrn.itumate.system.mapper.SysMenuPowerMapper">
  <resultMap id="BaseResultMap" type="com.mingrn.itumate.system.domain.SysMenuPower">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="menu_object_id" jdbcType="BIGINT" property="menuObjectId" />
    <result column="power_object_id" jdbcType="BIGINT" property="powerObjectId" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="modify_user" jdbcType="VARCHAR" property="modifyUser" />
  </resultMap>
</mapper>